@font-face {
  font-family: SanFranciscoDisplay;
  src: url('../fonts/System San Francisco Display Regular.ttf');
}
@font-face {
  font-family: Circular;
  src: url('../fonts/CircularStd-Book.otf');
}
body {
  background-color:#701516;
  image-rendering: pixelated;
  height:100%;
  padding:0;
  margin:0;
  font-family:SanFranciscoDisplay;
  background-image:url('../images/logo.png');
  background-position:50% 0%;
  background-repeat: no-repeat;
}
html {
  height:100%;
}
#term { text-align:center; width:100%; }
#termin {
  width:100%;
  padding:5px;
  background-color:rgba(0,0,0,0.5);
  color:red;
  color:white;
  border:0px;
  outline:none;
  focus:none;
  position:absolute;
  margin-left: auto;
  margin-right: auto;
  right:0;
  left:0;
  top:0;
}
#nav {
  margin-top:150px;
  background-color:#222222;
  width:100%;
  height:55px;
  max-height:50px;
  text-align:center;
  color:white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#logo {
  padding:15px;
}
h1 { font-family:Circular; font-size:175%; }
#nav ul {
  list-style-type:none;
  padding:0;
  margin:0;
  max-height:inherit;
}
#nav ul li {
  display:inline-block;
  max-height:inherit;
  padding:20px;
  font-size:75%;
  font-weight:bold;
  box-sizing: border-box;
  text-transform: uppercase;
  margin-left:-2px;
  margin-right:-2px;
  cursor:pointer;
}
#container {
  background-color:#E6E6E8;
  height:100%;
  padding:15px;
  display:block;
}
#inner-container-left {
  text-align:left;
  background-color:white;
  border-radius:3px;
  border:1px solid rgba(0,0,0,0.2);
  padding:15px;
  width:65%;
  display:inline-block;
  vertical-align:top;
}
#inner-container-right {
  display:inline-block;
  width:25.99%;
  background-color:white;
  border-radius:3px;
  border:1px solid rgba(0,0,0,0.2);
  vertical-align:top;
  padding:15px;
  text-align:center;
}
/* Fade */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #701516;
}
#inactive.hvr-fade {
  background-color:#701516;
}
a, a:active {
color: #FFFFFF;
text-decoration:none;
}
