@font-face {
  font-family: SanFranciscoDisplay;
  src: url('System San Francisco Display Regular.ttf');
}
body { 
  background-color:#701516;
  image-rendering: pixelated;
  height:100%;
  padding:0;
  margin:0;
  font-family:SanFranciscoDisplay;
  background-image:url('images/logo.png'); 
  background-position:50% -2%;
  background-repeat: no-repeat;
}
html {
  height:100%;
}
#nav { 
  margin-top:150px;
  background-color:#222222;
  width:100%;
  height:55px;
  max-height:50px;
  text-align:center;
  color:white;
}
#logo {
  padding:15px;
}
#nav ul {
  list-style-type:none;
  padding:0;
  margin:0;
  max-height:inherit;
}
#nav ul li {
  display:inline-block;
  max-height:inherit;
  padding:20px;
  font-size:75%;
  font-weight:bold;
  box-sizing: border-box;
  text-transform: uppercase;
}
#container {
  background-color:#E6E6E8;
  height:100%;
  padding:15px;
  display:block;
}
#inner-container-left {
  text-align:left;
  background-color:white;
  border-radius:3px;
  border:1px solid rgba(0,0,0,0.2);
  padding:15px;
  width:70%;
  display:inline-block;
  vertical-align:top;
}
#inner-container-right {
  display:inline-block;
  width:20.99%;
  background-color:white;
  border-radius:3px;
  border:1px solid rgba(0,0,0,0.2);
  vertical-align:top;
  padding:15px; 
  text-align:center;
}
/* Fade */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #444444;
}
#inactive.hvr-fade:hover, #inactive.hvr-fade:focus, #inactive.hvr-fade:active {
  background-color:#701516;
}
a, a:active {
color: #FFFFFF;
text-decoration:none;
}
