body { 
  background-color:#444444;
  height:100%;
  padding:0;
  margin:0;
}
html {
  height:100%;
}
#nav { 
  background-color:#222222;
  width:100%;
  max-height:50px;
  text-align:center;
  color:white;
  font-family:"Helvetica";
}
#logo {
  padding:15px;
}
#nav ul {
  list-style-type:none;
  padding:0;
  margin:0;
}
#nav ul li {
  display:inline-block;
  padding:20px;
  height:inherit;
  font-size:75%;
  font-weight:bold;
}

#container {
  background-color:#E6E6E8;
  height:100%;
  padding:15px;
}
#inner-container-left {
  background-color:white;
  border-radius:3px;
  border:1px solid rgba(0,0,0,0.2);
  padding:15px;
  width:70%;
  display:inline-block;
}
#inner-container-right {
  display:inline-block;
  min-height:50px;
}
#hid { 
  display:inline-block;
}
/* Fade */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #2098d1;
  color: white;
}
